@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.one{
  display: block;
  text-align: center;
}
body{
  background-color:#8F7E4F;
  padding-bottom: 70px;
  padding-top:55px;
}
button{
  background-color:#DEDBD8;
  font-family: 'Varela Round', sans-serif;
}
