@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.btn-btn{
  background-color: #DEDBD8;
  font-family: 'Varela Round', sans-serif;
}
.del{
  background-color:indianred;
  font-family: 'Varela Round', sans-serif;
}
