<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">

          <h2>
            {{quote_details.title}}
          </h2>

          <p> {{quote_details.quote}}</p>

          <span><button *ngIf="!details" class="btn btn-primary" (click)="showDetails()">More Details</button></span>
          <app-quote-details *ngIf="details" [quote_details]="quote_details"></app-quote-details>
          <br>
          <div class="d-inline"><span> Submitted by:</span><span> {{quote_details.created_by}}       </span></div>
          <div class="d-inline"><span>Submitted at:</span><span> {{quote_details.created_at}}</span>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
