<div class="container">
<div class="row " >
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">

        <h2>
          {{quote_details.title}}
        </h2>
        <h3>{{quote_details.author}}</h3>
        <p> {{quote_details.quote}}</p>
        <span> Submitted by:</span><span> {{quote_details.created_by}}</span><br>
        <span>Submitted at:</span><span> {{quote_details.created_at}}</span>
        <br>
        <span>{{quote_details.up_vote}}</span><button class="btn btn-primary" (click)="upVote()">up vote</button>
        <span>{{quote_details.down_vote}}</span><button class="btn btn-primary" (click)="downVote()"> down vote</button>
      </div>
    </div>
  </div>
</div>
</div>
<br>
