<div class="row" >
  <div class="column-12">
    <div class="card">
      <div class="card-content">

        <h2>
          {{quote_details.title}}
        </h2>
        <h3>{{quote_details.author}}</h3>
        <p> {{quote_details.quote}}</p>
        <span> Submitted by:</span><span> {{quote_details.created_by}}</span><br>
        <span>Submitted at:</span><span> {{quote_details.created_at}}</span>
        <br>
        <button class="btn-btn ">up vote</button>
        <button class="btn-btn"> down vote</button>
      </div>
    </div>
  </div>
</div>
